global:
  scrape_interval: "{{ scrape_interval }}"

scrape_configs:
  - job_name: "vmagent"
    static_configs:
      - targets:
{% for host in groups['vmagent'] | default([]) %}
          - "{{ hostvars[host].private_ip_address | default(hostvars[host].ansible_host) | default(host) }}:8429"
{% endfor %}

  - job_name: "vmstorage"
    static_configs:
      - targets:
{% for host in groups['vmstorage'] | default([]) %}
          - "{{ hostvars[host].private_ip_address | default(hostvars[host].ansible_host) | default(host) }}:8482"
{% endfor %}

  - job_name: "vminsert"
    static_configs:
      - targets:
{% if query_alb_dns is defined and query_alb_dns | length > 0 %}
          - "{{ query_alb_dns }}:80"
{% else %}
{% for host in groups['vminsert'] | default([]) %}
          - "{{ hostvars[host].private_ip_address | default(hostvars[host].ansible_host) | default(host) }}:8480"
{% endfor %}
{% endif %}

  - job_name: "vmselect"
    static_configs:
      - targets:
{% if query_alb_dns is defined and query_alb_dns | length > 0 %}
          - "{{ query_alb_dns }}:81"
{% else %}
{% for host in groups['vmselect'] | default([]) %}
          - "{{ hostvars[host].private_ip_address | default(hostvars[host].ansible_host) | default(host) }}:8481"
{% endfor %}
{% endif %}

  - job_name: "vmalert"
    static_configs:
      - targets:
{% for host in groups['vmalert'] | default([]) %}
          - "{{ hostvars[host].private_ip_address | default(hostvars[host].ansible_host) | default(host) }}:8880"
{% endfor %}