[Unit]
Description=VictoriaMetrics vmalert
After=network.target

[Service]
User={{ vm_user }}
Group={{ vm_group }}
ExecStart={{ vm_bin_dir }}/{{ vm_binaries.vmalert }} \
  -rule=/etc/alerts/*.yml \
  -datasource.url="{% if query_alb_dns is defined and query_alb_dns | length > 0 %}http://{{ query_alb_dns }}:81{% else %}http://{{ vm_select_host }}:{{ vm_ports.select }}{% endif %}" \
  -notifier.url=http://{{ groups['alertmanager'] | default(['localhost']) | map('extract', hostvars, 'private_ip_address') | select('string') | list | first | default('localhost') }}:9093 \
  -httpListenAddr=:{{ vm_ports.alert }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target