apiVersion: 1

providers:
  - name: 'VictoriaMetrics'
    orgId: 1
    folder: 'VictoriaMetrics'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards
